# General ignores for safety
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json

# Dotfiles
.*
!/.gitignore
!/.travis.yml
!/.HA_VERSION

# HA specific
www
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
ip_bans.yaml

# 3rd party
plex.conf
phue.conf
nest.conf
harmony_media_room.conf
html5_push_registrations.conf
/icloud/*

# Zwave
pyozw.sqlite
OZW_Log.txt
